:root {
  font-family: var(--font-family);
  color: #e7e7ee;
  background-color: #141416;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #141416;
}

body {
  color: #e7e7ee;
}

#root {
  min-height: 100%;
  width: 100%;
  background-color: #141416;
}
